name: Build Cronet

on:
  workflow_dispatch:
    inputs:
      chromium_version:
        description: 'Chromium 版本号 (例如: 142.0.7444.135)'
        required: true
        default: '142.0.7444.135'

jobs:
  build-cronet:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5

    - name: 设置环境变量
      run: |
        echo "CHROMIUM_VERSION=${{ github.event.inputs.chromium_version }}" >> $GITHUB_ENV
        echo "SHOULD_BUILD=${{ github.event.inputs.should_build }}" >> $GITHUB_ENV
        echo "CHROMIUM_FILE_PERFIX=chromium-${{ github.event.inputs.chromium_version }}" >> $GITHUB_ENV

    - name: 克隆 Chromium 源码
      run: |
        # # 使用 aria2c 多线程下载
        # echo "开始下载 Chromium 源码..."
        # aria2c -x 16 -s 16 https://commondatastorage.googleapis.com/chromium-browser-official/${{ env.CHROMIUM_FILE_PERFIX }}.tar.xz -o ${{ env.CHROMIUM_FILE_PERFIX }}.tar.xz
        
        # # 创建目标目录
        # mkdir -p ${{ env.CHROMIUM_FILE_PERFIX }}

        # sed -i "s/^\^/${{ env.CHROMIUM_FILE_PERFIX }}\//" include.txt
        # echo "开始解压 Chromium 源码..."
        # tar xJf "${{ env.CHROMIUM_FILE_PERFIX }}.tar.xz" --wildcards --wildcards-match-slash -T include.txt -X exclude.txt
        
        # rm ${{ env.CHROMIUM_FILE_PERFIX }}.tar.xz
        # mv ${{ env.CHROMIUM_FILE_PERFIX }} src

        git clone --depth 1 -b ${{ env.CHROMIUM_VERSION }} https://chromium.googlesource.com/chromium/src.git -j 16
        echo "Chromium 代码已成功克隆"
        du -ah src