name: Build Chromium

on:
  workflow_dispatch:
    inputs:
      chromium_version:
        description: 'Chromium 版本号 (例如: 142.0.7444.135)'
        required: true
        default: '142.0.7444.135'

jobs:
  build-chromium:
    runs-on: ubuntu-latest
    
    steps:
    - name: 检出 Chromium 代码
      run: |
        git clone --depth 2 -b ${{ github.event.inputs.chromium_version }} https://chromium.googlesource.com/chromium/src.git -j 16 &
        GIT_CHROMIUM_PID=$!
        
        git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git -j 16 &
        GIT_DEPOT_TOOLS_PID=$!
        
        wait $GIT_CHROMIUM_PID
        wait $GIT_DEPOT_TOOLS_PID
        
        export PATH="$PWD/depot_tools:$PATH"

        gclient sync -D --with_branch_heads --with_tags

        echo "Chromium 代码已成功检出并同步"
